body{
    font-family: "Rubik";
    color:#fff;
    background-color: #05121A;
    background-repeat: no-repeat;
    background-size: cover;  
}

.nav a:hover {
    color: #86EBD9 !important;
}

.hMune{
    display: none;
}

.hMune img{
    height: 40px;
    width: 40px;
}